.iconRick{
    background-image: url('./Images/icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    height:5%; 
    position:absolute;
    top: 1vh;
}

.list{
    background-image: url('./Images/list.png');
    background-repeat: no-repeat;
    background-size: contain;
    width:70%;
    height:5%; 
    position:absolute;
    top: 10vh;
    left: 0.8vw;
  
}


.episode {
    background-image: url('./Images/tv.png');
    background-repeat: no-repeat;
    background-size: contain;
    width:70%;
    height:5%; 
    position:absolute;
    top: 19vh;
    left: 0.8vw;
   
}

.rickTitle {
    position: absolute;
    width: 40vw;
    height: 30vh;
    left: 32.5vw;
    top: -2vh;
    
}

